<ion-content>

  <ion-item lines="none" class="name_user">
      <img src="assets/ic-log.png" class="img-account">
  </ion-item>

  <div class="ion-text-center text-account">
    <h2>Salut {{user.firstname}} !</h2>
    <p>Retrouvez ici, toutes vos recettes !</p>
  </div>

  <div *ngFor="let reciepe of reciepes;" class="item-profile" (click)="openReciepeById(reciepe)">
      <div>
          <img class="post_img" src="{{ reciepe.image }}">

          <div class="flex-button">
              <div></div>
              <ion-icon name="heart" class="heart-icon"></ion-icon>
          </div>
          <p class="insta-text"><b>{{ reciepe.title }} : </b>
              {{ reciepe.description }}
          </p>
      </div>

  </div>

</ion-content>
