.name_user{
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}

.item-profile{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  padding: 15px;
}

.img-account{
  width: 55%;
  margin-left: 25%;
}

.text-account{
  font-family: 'EB Garamond', serif;
}