ion-header img{
  height: 80px;
  margin-top: 4px;
}

.title{
  font-size: 20px;
  text-align: center;
}

.text-stories{
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  font-weight: 700;
  color: #171717;
  margin-left: 7px;
  margin-right: 7px;
}

.stories{
  display: flex;
  overflow: scroll;
}

.stories .img-box{
  margin-left: 8px;
  margin-right: 12px;
  background-image: url("../../assets/color-instagram.jpg");
  background-size: contain;
  border-radius: 50%;
  padding: 2px;
  height: 60px;
}

.stories img{
  width: 68px;
  max-width: none;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
  margin-bottom: -3px;
}

.stories p{
  font-size: 11px;
  text-align: center;
  margin: 4px 0px 0px 0px;
  font-weight: 500;
  color: #383a3e;
}

.add_story{
  position: relative;
  margin-left: 7px;
  margin-right: 12px;
  border-radius: 50%;
  padding: 2px;
}

.add_story ion-icon{
  position: absolute;
  bottom: 8px;
  right: 6px;
  border-radius: 50%;
  background-color: white;
}

hr{
  height: 2px !important;
  width: 100% !important;
  background: #d5d5d5 !important;
}

ion-avatar{
  margin-left: 8px;
  margin-right: 12px;
  background-image: url("../../assets/color-instagram.jpg");
  background-size: contain;
  border-radius: 50%;
  padding: 2px;
}

ion-avatar img{
  border: 2px solid white;
}

ion-label{
  font-size: 14px;
  font-weight: 700;
  color: #1e2023 !important;
  margin-left: 5px;
}

.post_img{
  width: 100%;
}

.flex-button{
  display: flex;
  justify-content: space-between;
}

.flex-button ion-icon{
  font-size: 22px;
  margin: 4px;
  color: #86888f;
}

.insta-text{
  font-size: 15px;
  margin: 4px;
}

.button-favorite{
  color: blue;
}

.button-favorite:active {
  color: red;
}

.background-top-chef{
  background-color: orange;
}
