<ion-header>
  <ion-back-button color="warning" slot="start"></ion-back-button>
  <ion-toolbar>
    <ion-title>liste des candidats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/mathias">
      <ion-label>Mathias</ion-label>
    </ion-item>
    <ion-item routerLink="/bruno">
      <ion-label>Bruno</ion-label>
    </ion-item>
    <ion-item routerLink="/chloe">
      <ion-label>Chloé</ion-label>
    </ion-item>
    <ion-item routerLink="/thomas">
      <ion-label>Thomas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
