.header{
  background-color: orange;
}

.title{
  text-align: center;
  color: white;
}

.content-home{
  text-align: center;
  margin-top: 35%;
}

.big-title{
  font-family: 'Lobster', cursive;
}

.small-text{
  font-family: 'Ubuntu', sans-serif;
}

.home-buttons{
  margin-top: 10%;
}

.event-button, .activity-button{
  width: 80%;
  margin-left: 10%;
  background-color: orange;
  color: white;
}

.font-home-page-title{
  font-size: 20px;
}

.block-home-page{
  text-align: center;
  margin: 2%;
}

.button-home{
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  color: white;
  height: 55px;
}
