<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      <h1 class="title">ImitChef</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="block-home-page">
  <h2 class="font-home-page-title">Bienvenue sur</h2>
  <h2>ImitChef</h2>
  <h2 class="font-home-page-title">La plateforme qui rassemble vos</h2>
</div>
<img src="/assets/chef-1.jpg" alt="toque">

  <ion-button shape="round" expand="block" type="submit" submit="!formInfos.valid" routerLink="/choose-emission" class="button-home" color="warning">Choisissez votre émission</ion-button>

</ion-content>
