<ion-header>
  <ion-toolbar>
    <ion-back-button class="button-back" slot="start"></ion-back-button>
    <ion-title>{{ show.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-buttons slot="start">
    <ion-button color="dark">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div class="stories">

    <div *ngFor="let candidate of candidates" class="block-candidates">
      <div>
        <div class="story">
          <div class="img-box" (click)="goToCandidate(candidate)">
            <img src="{{ candidate.image }}">
          </div>
          <p class="firstname">{{ candidate.firstname }}</p>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <div *ngFor="let candidate of candidates">

    <div *ngFor="let reciepe of candidate.Reciepes" (click)="openReciepeById(reciepe)">
      <div class="header-avatar">
        <ion-avatar slot="start">
          <img src="{{ candidate.image }}">
        </ion-avatar>
        <h3 class="name-avatar">{{candidate.firstname}}</h3>
        <ion-icon slot="end" name="more"></ion-icon>
      </div>
      <div>
        <img class="post_img" src="{{ reciepe.image }}">

        <div class="flex-button">
          <div></div>
          <ion-icon name="heart" class="heart-icon"></ion-icon>
        </div>
        <p class="insta-text"><b>{{ reciepe.title }} : </b>
          {{ reciepe.description }}
        </p>
      </div>

    </div>

  </div>

</ion-content>