<ion-content>
    <div class="background">
        <div class="block-home-page">
            <h2 class="font-home-page-title">Bienvenue sur</h2>
            <div class="title">
                <img src="assets/ic-log.png" class="img-title">
            </div>

            <h2 class="description">
                La plateforme qui rassemble toutes les recettes des <b>shows culinaires français</b> !
<!--                adaptée à toutes tes envies et à ton budget. Déguste le plat d'un candidat de top chef directement au <b>restaurant</b> !-->
            </h2>
        </div>
        <div class="background-image">
            <img src="/assets/top-chef/plats-top-chef/plat-1-top.jpg" alt="toque" class="img-welcome">
        </div>
    </div>

    <a>
        <div expand="block" [routerLink]="['/home/shows']" class="button-home" >
            <button class="text-button ion-padding-top">Choisissez votre émission</button>
        </div>
    </a>

</ion-content>


