<ion-content>

  <div class="padding">

    <div class="logo">
      <img src="assets/ic-log.png" class="img-title">
    </div>

    <div *ngIf="!connected">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <ion-list>
          <!--------------------------------------  EMAIL ------------------------------------>
          <ion-item class="form" lines="none">
            <ion-input
                    formControlName="email"
                    placeholder="Adresse email"
                    type="email"
                    name="email"
                    [(ngModel)]="dataUser.email"
                    [class.invalid]="!f.email.valid && f.email.dirty"></ion-input>
          </ion-item>

          <div class="" *ngIf="submitted && f.email.errors">
            <ion-label color="danger" *ngIf="f.email.errors.required" class="error-message">Veuillez indiquez un email</ion-label>
            <ion-label color="danger" *ngIf="f.email.errors?.pattern" class="error-message">Votre email n'est pas valide</ion-label>
          </div>

          <!--------------------------------------  EMAIL ------------------------------------>

          <!--------------------------------------  MOT DE PASSE ------------------------------------>
          <ion-item class="form" lines="none">
            <ion-input
                    formControlName="password"
                    placeholder="Mot de passe"
                    type="password"
                    name="password"
                    [(ngModel)]="dataUser.password"
                    [class.invalid]="!f.password.valid && f.password.dirty"></ion-input>
          </ion-item>

          <div class="" *ngIf="submitted && f.password.errors">
            <ion-label color="danger" *ngIf="f.password.errors.required" class="error-message">
              Veuillez indiquez un mot de passe
            </ion-label>
            <ion-label color="danger" *ngIf="f.password.errors.pattern" class="error-message">
              Le mot de passe doit contenir au minimum 8 caractères, une minuscule, un majuscule et un chiffre.
            </ion-label>
          </div>


          <!--------------------------------------  MOT DE PASSE ------------------------------------>

          <ion-button shape="round" expand="block" type="submit" class="connexion-btn " color="red">
            <p class="text-connexion">
              Connexion
            </p>
          </ion-button>

        </ion-list>
      </form>
    </div>

    <div *ngIf="connected">
      <h2>Vous êtes bien connecté</h2>
    </div>

  </div>

</ion-content>

