<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h1 class="title">Espace communauté</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="text-stories">
    <p>Voir tout</p>
    <ion-icon name="add-circle"></ion-icon>
  </div>

  <ion-toolbar>
    <ion-searchbar placeholder="Choisissez votre recette" routerLink="/search"></ion-searchbar>
  </ion-toolbar>

  <div class="grid">
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-1-top.jpg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-2-top.jpeg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-4-top.jpeg');"></div>
  </div>

  <div class="grid">
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-4-top.jpeg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-1-top.jpg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-3-top.jpg');"></div>
  </div>

  <div class="grid">
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-2-top.jpeg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-4-top.jpeg');"></div>
    <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-1-top.jpg');"></div>
  </div>

  <div class="grid">
  <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-4-top.jpeg');"></div>
  <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-2-top.jpeg');"></div>
  <div class="img_box" style="background-image: url('assets/top-chef/plats-top-chef/plat-3-top.jpg');"></div>
</div>

</ion-content>
