<ion-content>

  <div class="padding">

    <div class="logo">
      <img src="assets/ic-log.png" class="img-title">
    </div>

    <form [formGroup]="formContact" novalidate (ngSubmit)="register()" class="register">

<!--------------------------------------  NOM ------------------------------------>
    <ion-list class="ion-no-padding">
      <ion-item tappable class="form" lines="none">
        <ion-input
                   formControlName="lastname"
                   placeholder="Nom"
                   type="text"
                   name="lastname" required
                   [class.invalid]="!f.lastname.valid && f.lastname.dirty"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="submitted && f.lastname.errors">
        <ion-label color="danger" *ngIf="f.lastname.errors.required" >Veuillez indiquer votre nom</ion-label>
      </div>

 <!--------------------------------------  NOM ------------------------------------>

 <!-------------------------------------- PRENOM ------------------------------------>

      <ion-item class="form" lines="none">
        <ion-input
                formControlName="firstname"
                placeholder="Prénom"
                type="text"
                name="firstname"
                [class.invalid]="!f.firstname.valid && f.firstname.dirty"></ion-input>
      </ion-item>

      <div class="" *ngIf="submitted && f.firstname.errors">
        <ion-label color="danger" *ngIf="f.firstname.errors.required" class="error-message">Veuillez indiquer votre prénom</ion-label>
      </div>

 <!--------------------------------------  PRENOM ------------------------------------>

 <!--------------------------------------  EMAIL ------------------------------------>

      <ion-item class="form" lines="none">
        <ion-input
                formControlName="email"
                placeholder="Adresse email"
                type="email"
                name="email"
                [class.invalid]="!f.email.valid && f.email.dirty"></ion-input>
      </ion-item>

      <div class="" *ngIf="submitted && f.email.errors">
        <ion-label color="danger" *ngIf="f.email.errors.required" class="error-message">Veuillez indiquez un email</ion-label>
        <ion-label color="danger" *ngIf="f.email.errors?.pattern" class="error-message">Votre email n'est pas valide</ion-label>
      </div>

<!--------------------------------------  EMAIL ------------------------------------>

<!--------------------------------------  MOT DE PASSE ------------------------------------>
      <ion-item class="form" lines="none">
        <ion-input
                formControlName="password"
                placeholder="Mot de passe"
                type="password"
                name="password"
                [class.invalid]="!f.password.valid && f.password.dirty"></ion-input>
      </ion-item>

      <div class="" *ngIf="submitted && f.password.errors">
        <ion-label color="danger" *ngIf="f.password.errors.required" class="error-message">
          Veuillez indiquez un mot de passe
        </ion-label>
        <ion-label color="danger" *ngIf="f.password.errors.pattern" class="error-message">
          Le mot de passe doit contenir au minimum 8 caractères, une minuscule, un majuscule et un chiffre.
        </ion-label>
      </div>


<!--------------------------------------  MOT DE PASSE ------------------------------------>

      <ion-button shape="round" expand="block" type="submit" class="inscription-btn" color="red">
        <p class="text-sign-in">
          Inscription
        </p>
      </ion-button>

      <div type="submit" fill="outline" shape="round" expand="block" [routerLink]="['/home/connexion']" class="btn-connexion">J'ai déjà un compte</div>

      <hr class="hr">

    </ion-list>
    </form>
  </div>

</ion-content>
