ion-content{
  --ion-background-color: whitesmoke;
}

.img-title{
  width: 55%;
  margin-left: 25%;
}

ion-item{
  --ion-background-color: transparent !important;
}

.padding{
  padding: 5%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 250px;
  position: relative;
}

.logo ion-icon{
  position: absolute;
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}

.text-form{
  color: #444;
  font-family: 'EB Garamond', serif;
}

.form{
  border: 2px solid #FF6859;
  background-color: white;
  padding: 5px;
  border-radius: 35px;
  margin-bottom: 5%;
  width: 85%;
  margin-left: 8%
}

.btn-connexion{
  color: #FF6859;
  border-radius: 44px;
  text-align: center;
  font-size: 20px;
  margin-top: 8%;
}

.inscription-btn{
  width: 85%;
  margin: 0 auto;
  height: 65px;
  background-color: #FF6859;
  boder-radius: 68px;
  border-radius: 35px;
  color: white;
  text-decoration: none;
  border: 1px solid #FF6859;

  .text-connexion{
    margin-left: 35%;
    font-size: 20px;
  }

  .text-sign-in{
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
  }

}

.hr{
  height: 2px;
  width: 50%;
  background-color: #FF6859;
}0

.error-message{
  margin-left: 10% !important;
}