<ion-header>
  <ion-toolbar>
    <ion-back-button color="warning" slot="start"></ion-back-button>
    <ion-title class="title">Découvrez les plats de {{ candidate.firstname }} ! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">
    <img src="/assets/back-food.png" alt="toque" class="img-welcome">
  </div>
  <div *ngFor="let reciepe of candidate.Reciepes; let i = index" class="content-header">
    <div *ngIf="i%2 == 0">
      <img src="{{candidate.image}}" class="image-rond image-ronde-bg">
    </div>
    <p *ngIf="i%2 == 0" ></p>
  </div>

  <div *ngFor="let reciepe of candidate.Reciepes" (click)="goToReciepe(reciepe)">

    <div>
      <img class="post_img" src="{{ reciepe.image }}">

      <div class="flex-button">
        <div></div>
        <ion-icon name="heart" class="heart-icon"></ion-icon>
      </div>
      <p class="insta-text"><b>{{ reciepe.title }} : </b>
        {{ reciepe.description }}
      </p>
    </div>

  </div>

</ion-content>
