//.post_img{
//  position: fixed;
//0}

.stories{
  display: flex !important;
  overflow: scroll !important;
}

.stories .img-box{
  margin-left: 8px;
  margin-right: 12px;
  background-size: contain;
  border-radius: 50%;
  padding: 2px;
  height: 60px;
}