<div *ngIf="reciepe">

  <img class="post_img" src="{{ reciepe.image }}">
    <div class="block-description">
        <h2>{{ reciepe.titre }}</h2>
        <p>{{ reciepe.description }}</p>
    </div>

    <hr>

    <ion-list lines="none">
      <ion-item>Temps de cuisson : {{ reciepe.time_cooking}} min.</ion-item>
      <ion-item>Difficulté : {{ reciepe.difficulty}}</ion-item>
      <ion-item>Matériel nécessaire : </ion-item>
      <ion-item *ngFor="let ingredient of reciepe.Ingredients">Ingrédients :
          {{ingredient.poultry}}
          {{ingredient.peper}}
      </ion-item>
    </ion-list>

    <div color="danger" expand="block" shape="round" class="command-restaurant" (click)="displayPlate()">Voulez-vous commander ce plat ?</div>


</div>