<div *ngIf="reciepe">
  <ion-header>
    <ion-toolbar>
      <ion-back-button color="warning" slot="start"></ion-back-button>
      <img class="post_img" src="{{ reciepe.image }}">
    </ion-toolbar>
  </ion-header>

<ion-content>

  <h2>{{ reciepe.titre }}</h2>
  <p>{{ reciepe.description }}</p>

            <ion-list lines="none">
              <ion-item>35 min.</ion-item>
              <ion-item>Préparation</ion-item>
              <ion-item>Temps de cuisson</ion-item>
            </ion-list>
            <ion-list lines="none">
              <ion-item>90 min.</ion-item>
              <ion-item>1616</ion-item>
              <ion-item>Difficulté</ion-item>
            </ion-list>



    <ion-button color="danger" expand="block" shape="round">Voulez-vous commander ce plat ?</ion-button>

</ion-content>
</div>