.post_img{
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.block-description{
  font-family: 'EB Garamond', serif;
  margin-left: 5%;
  margin-right: 5%;
}

.command-restaurant{
  height: 60px;
  width: 80%;
  margin: 0 auto;
  background: #FF6859;
  font-family: 'EB Garamond', serif;
  border-radius: 27px;
  color: white;
  padding-top: 10px;
  font-size: 25px;
  text-align: center;
}

.ingredient{
  border: 5px solid #FF6859;
  height: 118px;
  border-radius: 100px;
  width: 118px;
  object-fit: contain;
}