<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      <h1 class="title">ImitChef</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <h2>Choisissez votre émission</h2>

<div *ngFor="let show of shows" (click)="openShowById(show)">
    <div class="flex">
        <ion-card class="button-tv-show" routerLink="/show">
            <img src="{{ show.image }}" alt="{{ show.name }}">
            <p>{{ show.name }}</p>
        </ion-card>
    </div>
</div>

</ion-content>

