<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header">
      <h1 class="title">ImitChef</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<h2>Choisissez votre émission</h2>
  <div class="flex">
    <ion-card class="button-tv-show" routerLink="/top-chef">
      <img src="../../../../assets/top-chef-home.jpg" alt="img-top-chef">
      <p>Top chef</p>
    </ion-card>
    <ion-card class="button-tv-show" routerLink="/le-meilleur-patissier">
      <img src="../../../../assets/le-meilleur-patissier-home.jpeg" alt="">
    </ion-card>
  </div>
  <div class="flex">
    <ion-card class="button-tv-show" routerLink="/objectif-top-chef">
      <img src="../../../../assets/objectif-top-chef-home.jpeg" alt="">
    </ion-card>
    <ion-card class="button-tv-show" routerLink="/tous-en-cuisine">
      <img src="../../../../assets/tous-en-cuisine-home.jpg" alt="">
    </ion-card>
  </div>

</ion-content>

