ion-content{
  --ion-background-color: -webkit-linear-gradient(to bottom, #fdc830, #f37335); /* Chrome 10-25, Safari 5.1-6 */
  --ion-background-color: linear-gradient(to bottom, #fdc830, #f37335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ion-item{
  --ion-background-color: transparent !important;
}

.padding{
  padding: 5%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 250px;
  position: relative;
}

.logo ion-icon{
  position: absolute;
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
